body{
    background-image: url('../images/bg-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--Violet);
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    min-width: 100%;
    margin: 0;
}

:root{
--Violet: hsl(257, 40%, 49%)
}
*{
    box-sizing: border-box;
    
}
*::before, ::after{
    box-sizing: inherit;
}
h1{font-family: 'Poppins', sans-serif;font-size: 1.8em;font-weight: 400;}
.container{
    width: 1200px;
    margin: 0 auto;
    max-width: 100%;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    
    /* justify-content: space-between; */
}
img{
    max-width: 100%;
}
/* header{
    margin: 50px 0;
} */
section{
    margin-top: 70px;
}
.image{
    margin-right: 20px;
    flex: 0.6;
}
.content{
     flex: 0.4;
     margin-left: 20px;
}
.content p{
    font-size: 16px;
    margin-bottom: 50px;
}
button{
    color: var(--Violet);
    background-color: #fff;
    border-radius: 25px;
    border: 1px solid var(--Violet);
    padding: 18px 70px;
    width: 50%;
}
footer ul{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}
footer ul li{
   margin-left: 15px;
   border: 1px solid #fff;
   border-radius: 50%;
   padding: 8px;
}
@media (max-width: 768px){
    .flex{
        flex-direction: column;
    }
    .image{
    margin-right: 0px;
    
     }
    .content{ 
     
     margin-left: 0px;
     }
     .alignCenter{
         text-align: center;
     }
}
